services:
  db:
    image: &db-image postgres:17-alpine3.20
    restart: unless-stopped
    container_name: db
    environment:
      POSTGRES_DB: ${DB_DATABASE}
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - 5432:5432
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - db-network
    healthcheck:
      test: pg_isready -U ${DB_USERNAME} -d ${DB_DATABASE}
      interval: 5s
      timeout: 10s
      retries: 20

  db-test:
    image: *db-image
    container_name: db-test
    command:
      postgres -c 'max_connections=250' -c 'max_locks_per_transaction=128'
    restart: unless-stopped
    environment:
      POSTGRES_DB: test_db
      POSTGRES_USER: test_user
      POSTGRES_PASSWORD: test_user_password
    volumes:
      - ./docker/postgres/init-test-db.sql:/docker-entrypoint-initdb.d/init-test-db.sql:ro
    networks:
      - db-network

  app: &app
    build:
      context: ./
      dockerfile: docker/php/Dockerfile-dev
    restart: unless-stopped
    container_name: app
    environment:
      COMMAND: php artisan octane:frankenphp --host=0.0.0.0 --port=80 --watch
      PROCESS: app
      XDEBUG_MODE: debug,coverage
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    volumes:
      - ./:/var/www
      - ./docker/caddy/Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
      - app_composer_data:/.composer
      - app_npm_data:/.npm
    ports:
      - '80:80'
      - '443:443'
      - '443:443/udp'
      - '5173:5173'
      - '9003:9003'
    networks:
      - db-network
      - redis-network
    healthcheck:
      test: curl -s http://localhost/up >/dev/null || exit 1
      interval: 5s
      timeout: 10s
      retries: 20

  workers:
    <<: *app
    container_name: worker
    environment:
      COMMAND: php artisan queue:work
      PROCESS: worker
    ports: []
    networks:
      - db-network
      - redis-network

  schedule:
    <<: *app
    container_name: schedule
    environment:
      COMMAND: supercronic -quiet /var/www/docker/php/schedule/schedule
      PROCESS: schedule
    networks:
      - db-network
      - redis-network
    ports: []
    healthcheck:
      test: supercronic -test /var/www/docker/php/schedule/schedule | grep -q 'is valid' # TODO try spatie LARAVEL-HEALTH
      interval: 5s
      timeout: 10s
      retries: 2

  websockets:
    <<: *app
    container_name: websockets
    environment:
      COMMAND:
        php artisan reverb:start --host="0.0.0.0" --port=8080
        --hostname="localhost" --debug
      PROCESS: reverb
    ports:
      - '8080:8080'
    networks:
      - db-network
      - redis-network

  redis:
    image: redis:7.2.4-alpine
    restart: unless-stopped
    container_name: redis
    command:
      - 'redis-server'
      - '--requirepass ${REDIS_PASSWORD}'
    volumes:
      - redis_data:/data
    networks:
      - redis-network
    healthcheck:
      test: redis-cli ping
      interval: 5s
      timeout: 10s
      retries: 20

  mailpit:
    image: 'axllent/mailpit:latest'
    ports:
      - '${FORWARD_MAILPIT_PORT:-1025}:1025'
      - '${FORWARD_MAILPIT_DASHBOARD_PORT:-8025}:8025'
    networks:
      - db-network

volumes:
  db_data:
    driver: local
    name: db_data
  redis_data:
    driver: local
    name: redis_data
  caddy_data:
    driver: local
    name: caddy_data
  caddy_config:
    driver: local
    name: caddy_config
  app_composer_data:
    driver: local
    name: app_composer_data
  app_npm_data:
    driver: local
    name: app_npm_data

networks:
  db-network:
    driver: bridge
    name: db-network
  redis-network:
    driver: bridge
    name: redis-network
